{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.itemtype.label(class="form-control-label") }}
                {% if form.itemtype.errors %}
                    {{ form.itemtype(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.itemtype.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.itemtype(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.itemcondition.label(class="form-control-label") }}
                {% if form.itemcondition.errors %}
                    {{ form.itemcondition(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.itemcondition.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.itemcondition(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.itemnote.label(class="form-control-label") }}
                {% if form.itemnote.errors %}
                    {{ form.itemnote(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.itemnote.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.itemnote(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.itemquantity.label(class="form-control-label") }}
                {% if form.itemquantity.errors %}
                    {{ form.itemquantity(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.itemquantity.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.itemquantity(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            {{ form.roomid(class="form-control") }}
        </fieldset>
        <div class="form-group">
            
            {{ form.submit(class="btn btn-outline-info") }}
            
        </div>
    </form>
</div>
{% endblock content %}