{% extends "layout.html" %}
{% block content %} 
    {% if rooms.count() < 1 %}
    <h4>No rooms added yet</h4>
    {% endif %}
    {% for room in rooms %}
            <div class="card w-50 p-3 rounded">
  				<div class="card-header rounded">
              		<h3>{{ room.roomname }}<button type="button" class="btn btn-danger float-right btn-sm m-1" data-toggle="modal" data-target="#deleteModal{{ room.id }}">X</button></h3>
              	</div>
              	<div class="card-body">
              		<p class="card-text">{{ room.primaryuse }} | {{ room.campusname }} <a href="{{ url_for('new_item', roomid=room.id) }}"><i class="material-icons float-right">add_box</i></a></p>
              	</div>
                <div class="card-footer">
                  <div class="card-body">
                    {% for item in items %}
                      {% if item.roomid == room.id %}
                      <p class="card-text">{{ item.itemtype }} {% if item.itemquantity %} X {{ item.itemquantity}} {% endif %}| Rating:{{ item.itemcondition }}<button type="button" class="btn btn-danger float-right btn-sm m-1" data-toggle="modal" data-target="#deleteitemModal{{ item.id }}">X</button></p>
                      <div class="modal fade" id="deleteitemModal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="deleteModalLabel">Delete Item?</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <form action="{{ url_for('delete_item', itemid=item.id) }}" method="POST">
                                <input class="btn btn-danger" type="submit" value="Delete">
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>

                    {% endif %}
                    {% endfor %}
                </div>
                </div>
              </div>
              <div class="modal fade" id="deleteModal{{ room.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Room?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_room', roomid=room.id) }}" method="POST">
                      <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                  </div>
                </div>
              </div>
            </div>

     {% endfor %}
{% endblock content %}