{% extends "layout.html" %}
{% block content %} 
<h2>Settings</h2>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.appname.label(class="form-control-label") }}
                {% if form.appname.errors %}
                    {{ form.appname(class="form-control form-control-lg is-invalid", value=config.appname) }}
                    <div class="invalid-feedback">
                        {% for error in form.appname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.appname(class="form-control form-control-lg" , value=config.appname) }}
                {% endif %}
            </div>
            
           
        </fieldset>
        <div class="form-group">
            
            {{ form.submit(class="btn btn-outline-info") }}
            
        </div>
    </form>
</div>
{% endblock content %}